:root{
    --color-negro: #000;
    --color-blanco: #fff;
    --color-primario: #FF0F9C;
    --color-secundario: #232840;
    --color-gris: #9ac6c9;
    --color-gris-dark:  #171b1f;

   

    --fuente-secundaria:  'Poppins', sans-serif ;
    --fuente-primaria: 'Roboto', sans-serif ;
}
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}


/* Conetendor Inicio */

.contendor-index{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #262B2B;
    background: linear-gradient(to right, #072F4D, #161D28);
    background: var(--color-secundario);
    font-size: 16px;
}
.index-saludo{
    align-self: center;
    margin: 0 1.5em 0 0;
    padding: 0 2em;
    border-right: 2px solid var(--color-gris);
    width: 20em;
}
.index-saludo p{
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
    font-size: 10em;
    text-transform: uppercase;
}
.index-soy{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 28em;
    margin: 0 1.5em 0 0;
    padding: 2em;
}
.index-soy h3{
    color: var(--color-gris);
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}
.index-soy h4{
    font-family: var(--fuente-secundaria);
    font-size: 3em;
    color: var(--color-primario);
    font-weight: 800;
}


/* MENU LATERAL FIJO */
.menu-fixed{
    position: fixed;
    top: 35%;
    left: 0;
    background-color: var(--color-gris-dark);
    width: 5em;
    z-index: 100;
}


.menu-fixed ul a, .menu-fixed ul a li{
    font-size: 18px;
    color: var(--color-blanco);
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-primaria);
   
   
}
.menu-fixed ul a, .menu-fixed ul a li:hover{
    width: 5.5em;
    /* transition: 0.4s ease-out; */
    background-color: var(--color-primario);
}
.activo{
    width: 300px;
    background-color: red;
}

/* Contenedor Sobre Mi */

.sobre-mi{
    width: 100%;
    height: 100vh;
    background: url('https://ep01.epimg.net/elpais/imagenes/2019/08/15/planeta_futuro/1565889878_668300_1565891014_noticia_normal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.781);
    font-size: 16px;
    display: grid;
    align-items: center;
    place-content: center;
    
}

.container-sobre-mi{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}
.sobre-mi-title{
    width: 500px;
    text-align: center;
    min-width: 250px;
    padding: 10px;
}
.sobre-mi-title h3{
    font-family: var(--fuente-secundaria);
    font-size: 5em;
    color: var(--color-primario);
    font-weight: 900;
}
.sobre-mi-text{
    width: 500px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}
.sobre-mi-text p{
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
    font-size: 1.2em;
    padding: .5em 0;
    
}
.sobre-mi-text a{
    justify-content: end;
    width: 250px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    color: var(--color-blanco);
    border-radius: 50px;
    font-family: var(--fuente-secundaria);
}
.sobre-mi-text a:hover{
   background-color: var(--color-gris); 
   color: var(--color-negro);
   transition: 0.5s;
}


/* Contenedor Proyectos */

.proyectos{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
    font-size: 16px;
    display: grid;
    align-items: center;
    place-content: center;
}

.contenedor-proyectos{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    gap: 15px;
    
}
.contenedor_proyectos_flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}
.proyectos_titulo{
    width: 100%;
    text-align: center;
}
.proyectos_titulo h2{
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
    font-size: 5em;
    font-weight: 900;
}
.proyectos_info{
    width: 450px;
}
.proyectos_info p{
    text-align: left;
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
    font-size: 1.5em;
    padding: .5em 0;
}

.proyectos_img{
    width: 350px;
    padding: 10px;
}
.proyectos_img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* box-shadow: 10px 10px 0px var(--color-gris);
    transition: all 0.5s ease; */
    cursor: pointer;
    
}
.contenedor-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contenedor-btn a{
    width: 250px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    color: var(--color-blanco);
    border-radius: 50px;
    font-family: var(--fuente-secundaria);
}
.contenedor-btn a:hover{
   background-color: var(--color-gris);
   color: var(--color-negro);
   transition: 0.5s ease-out;
}




.contenedor-habilidades{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}
.habilidades{
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
   
}
.habilidades__titulo{
    width: 100%;
    text-align: center;
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-size: 4em;
    padding: 1em 0;
    text-transform: uppercase;
    transform: rotate(270deg);    
}
.habilidades__lista{
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.habilidades__elementos{
    width: 6em;
    list-style: none;
    padding: 12px;
    border-radius: 999px;
    object-fit: contain;
    background-color: var(--color-secundario);
}

.habilidades__img{
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 999px;
    object-fit: cover;
}


.contacto{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);
    font-size: 16px;
    display: grid;
    align-items: center;
    place-content: center;
}
.contacto__titulo{
    text-align: center;
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
    font-size: 5rem;
    padding: 0.5em 0;
    
}
.contenedor-formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    gap: 20px;
}

.container-contacto-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
    
}

.contenedor-formulario_parrafo{
    color: #fff;
    font-family: var(--fuente-primaria);
    font-size: 1.5em;
}
.contenedor-formulario_mail, .contenedor-formulario_wsp {
    width: 100%;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    color: var(--color-blanco);
    border-radius: 50px;
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
}
.contenedor-formulario_mail:hover{
    background-color: var(--color-gris); 
    color: var(--color-negro);
    transition: 0.5s;
}
.contenedor-formulario_wsp:hover{
    background-color: green; 
    color: var(--color-blanco);
    transition: 0.5s;
    cursor: pointer;
}
.redes{
    width: 100%;
     display: flex;
     text-decoration: none;
     list-style: none;
     align-items: center;
     justify-content: center;
 }
 .redes li i{
    font-size: 2.5em;
    padding: .5em;
    color: white;
}
.redes li i:hover{
    color:  var(--color-gris); 
}



.pie-de-pagina{
    width: 100%;
    height: 100%;
    background-color: var(--color-negro);
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.pie-de-pagina__by{
    padding: 1em;
    color: var(--color-gris);
    font-family: var(--fuente-secundaria);
}




@media screen and (max-width: 990px){
    .habilidades__lista{
        display: flex;
        flex-flow: row wrap;
        justify-content: center; 
      
    }
    .sobre-mi-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .proyectos_info, .proyectos_img {
        width: 80%;
    }
}


@media screen and (max-width: 800px){
    .habilidades{
       display: flex;
       flex-direction: column;
      
    }
    .habilidades__titulo{
        width: 100%;
        text-align: center;
        color: var(--color-secundario);
        font-family: var(--fuente-secundaria);
        font-size: 4em;
        padding: 1em 0;
        text-transform: uppercase;
        transform: rotate(0deg);    
    }
    .proyectos, .contacto, .contenedor-habilidades, .sobre-mi{
        height: 100%;
    }
}



@media screen and (max-width: 750px){
    .contendor-index{
        font-size: 15px;
    }
    .menu-fixed{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--color-gris-dark);
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    
    .menu-fixed ul, .menu-fixed ul a {
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        height: 100%;
        background-color: transparent;
        padding: 0;
    }
    .menu-fixed ul a li{
        width: 50px;
        height: 50px;
    }
    .menu-fixed ul a, .menu-fixed ul a li:hover{
        width: 100%;
        /* transition: 0.4s ease-out; */
    }
    .sobre-mi{
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        padding: 2em 0;
    }
    
    .sobre-mi-title{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2.5em;
        
    }
    
    .sobre-mi-text{
        width: 100%;
        height: 100%;
    }
    .proyectos{
        padding: 20px 0;
    }
    .contacto{
        font-size: 15px;
    }
    .contenedor-formulario__form{
        width: 100%;   
        margin: 1em;  
    }
    
}

@media screen and (max-width: 600px){
    .contendor-index{
        flex-direction: column;
        font-size: 12px;
        padding: 1em;
    }
    .sobre-mi{
        font-size: 15px;
    }
    .sobre-mi-title h3{
       font-size: 4em;
    }
    .index-saludo{
        width: 30em;
        border-right: 0;
    }
    .index-soy{
        width: 30em;
    }
    .habilidades{
        font-size: 13px;
    }
    .contacto{
        font-size: 13px;
    }
    .contacto__titulo{
        font-size: 4rem;
    }
    .contenedor-formulario_parrafo{
        font-size: 1rem;
    }
    .sobre-mi-title h3{
        font-size: 3.5rem;
    }
    .proyectos_titulo h2{
        font-size: 4rem;
    }
    .habilidades__lista{
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
    .pie-de-pagina__by{
        text-align: center;
        color: var(--color-gris);
        font-family: var(--fuente-secundaria);
    }
}

@media screen and (max-width: 400px){
    .contendor-index{
        font-size: 12px;
        padding: 1em;
    }
    .sobre-mi{
        font-size: 12px;
    }
    .index-soy{
        padding: 3em;
    }
    .proyectos{
        font-size: 12px;
    }
    
   
}